{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Exoplanet Classifier</title>

    <link
        rel="stylesheet"
        href="{% static 'css/styles.css' %}"
    >
</head>

<body>

<!-- Header -->
<header class="page-header">

    <div class="page-header-container">

        <div class="header-content">

            <div class="head-image-planet">
                <img src="{% static 'images/icons8-saturn-planet-96.png' %}" alt="Star">
            </div>

            <div>
                <h1 class="head-title">
                    Exolab
                </h1>
            </div>

        </div>

    </div>

</header>